<div class="out">
  <div class="main">
      <form  class="form-signin" #f="ngForm" (ngSubmit)="signInc(f.value)">
          <h2 class="form-signin-heading sign">Forgot Password</h2>

          <label for="email" class="sr-only">Email address</label>
          <input required type="text" class="un" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email"
              name="email" #email="ngModel" ngModel class="form-control" placeholder="Email address" autofocus>
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.touched && !email.invalid ">
                  <p *ngIf="email.errors?.required">Email is a required field!</p>
                  <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
              </div>
          </div>


          <div class="form-group">
              <button [disabled]="f.invalid" type="submit" class="btn btn-primary submit">Submit</button>
          </div>
      </form>













<!-- 

<form class="form-signin" #f="ngForm" (ngSubmit)="signInc(f.value)">

    <label for="email" class="sr-only">Email address</label>
      <input required type="text"  class="un "  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" name="email" #email="ngModel" ngModel class="form-control" placeholder="Email address" autofocus>
      <div *ngIf="email.touched && !email.invalid ">
          <p *ngIf="email.errors?.required">Email is a required field!</p>
          <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
        </div>
  
    <button class="btn  btn-primary submit" type="submit">Click here to generate new password</button>
  </form> -->